@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

body {
  font-family: "Prompt", sans-serif;
}
.logo {
  margin-top: 6px;
  padding-right: 30px;
  margin-left: 15px;
  width: 200px;
  height: 40px;
}

.item {
  color: brown;
  font-family: "Prompt", sans-serif;
  font-size: 100%;
}

* {
  margin-top: 5px;
  font-family: "Prompt", sans-serif;
}

img.ui.avatar.image {
    top: 5px;
    left: 7px;
    width: 35px;
    height: 35px;

}


h1.textlog {
  margin-top: 11px;
  
  font-family: "Prompt", sans-serif;
}

.container {
width: 500px;
 
}

.card {
  width: 500px;
  
}

.table {
  margin-left: 300px;
  margin-right: 300px;
}

button.ui.red.button.but {
  width: 53px;
  height: 40px;
}

button.ui.green.button {
  width: 53px;
  height: 40px;
}
.ui.compact.menu {
  height: 42px;
  margin-top: 8px;
  margin-right: 10px;
}
