@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

body {
  font-family: "Prompt", sans-serif;
}
.logo {
  margin-top: 6px;
  padding-right: 30px;
  margin-left: 15px;
  width: 200px;
  height: 40px;
}

.item {
  color: brown;
  font-family: "Prompt", sans-serif;
  font-size: 100%;
}

* {
  margin-top: 5px;
  font-family: "Prompt", sans-serif;
}

img.ui.avatar.image {
    top: 9px;
    left: 7px;
}


h1.textlog {
  margin-top: 11px;
  
  font-family: "Prompt", sans-serif;
}

.container {
width: 500px;
 
}

a.item {
  top: 2px;
}

.table {
  margin-left: 300px;
  margin-right: 300px;
}